html {
    background-color: #000;
}

img {
    width: 22cm;
    height: 19.5cm;
    display: block;
    position: relative;
    top: -9px;
    left: -8px;
}

.bird {
    position: absolute;
    top: 1cm;
    left: 22.96cm;
    width: 1.1cm;
    height: 1.1cm;
}

h1 {
    color: white;
}

p {
    color: white;
}

.text-big {
    position: absolute;
    top: 2.9cm;
    left: 950px;
    transform: scale(1.4, 1.3);
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-small {
    position: absolute;
    top: 6.5cm;
    left: 915px;
    font-weight: 700;
    font-size: 25px;
    transform: scale(1.4, 1.2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-text {
    position: absolute;
    top: 19.3cm;
}
 
span {
    color: grey;
    font-size: 13.5px;
    position: relative;
    left: 3cm;
    text-align: center;
    float: left;
}
.copyright {  
    position: relative;
    left: 16cm;
}

.btn-apple {
    border-radius: 25px;
    position: relative;
    top: -9.4cm;
    left: 22.6cm;
    height: 1.1cm;
    width: 8cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;    
}
.btn-apple:hover {
    background-color: rgba(255, 255, 255, 0.704);
}

.btn-alt {
    position: relative;
    top: -7.3cm;
    left: 14.5cm;
    background-color: rgb(29, 155, 240);
    border-radius: 25px;
    width: 8cm;
    height: 1.1cm;
}

.btn-text {
    position: relative;
    top: -0.1cm;
    font-size: 15px;
}

.btn-alt:hover {
    background-color: rgba(29, 155, 240, 0.704);
}

.agreement {
    position: relative;
    top: -7.5cm;
    left: 22.6cm;
    width: 8cm;
    font-size: 10.3px;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.txt-login {
    position: absolute;
    left: 23cm;
    top: 15.6cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

.btn-login {
    position: relative;
    top: -5.3cm;
    left: 22.7cm;
    background-color: black;
    color: rgb(29, 155, 240);
    border-color: white;
    border-radius: 25px;
    width: 8cm;
    height: 1.1cm;
    font-size: 15px;
}